.nav-first-layer{
  display: flex;
  justify-content: space-around;
  width: 20%;
  padding-top: 1%;
  padding-left: 1%;
  
}

.nav-second-layer{
  background-color: black;
}

.nav-second-layer p{
  text-align: center;
  color: aliceblue;
  padding-top: 0%;
}

.nav-third-layer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-third-layer-first-half{
  display: flex;
  align-items: center;
  justify-content:space-between;
  
}